@import "/fonts/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 241 162 91;
  --primary-color-300: 255 206 163;
  --secondary-color: 21 171 255;
}

* {
  font-family: estedad;
  font-weight: 500;
}

@layer components {
  .container {
    @apply mx-auto p-5;
  }
}

/* Checkbox */
.ant-checkbox-inner {
  @apply !w-5 !h-5;
}

.ant-checkbox-wrapper {
  direction: ltr;
}

/* OTP */
.ant-otp-input {
  @apply bg-[#d9d9d9] hover:bg-[#d9d9d9] border-0 focus:bg-[#d9d9d9] w-20 h-20 rounded-custom text-24;
}
