@import "/fonts/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 241 162 91;
  --primary-color-300: 255 206 163;
  --secondary-color: 21 171 255;
  --textFaint-color: 76 75 75;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-family: estedad;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  background-color: #f9f5f2;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .container {
    @apply mx-auto p-5;
  }
}

/* Checkbox */
.ant-checkbox-inner {
  @apply !w-5 !h-5;
}

.ant-checkbox-wrapper {
  direction: ltr;
}

/* OTP */
.ant-otp {
  @apply gap-4;
}

.ant-otp-input {
  @apply bg-[#d9d9d9] hover:bg-[#d9d9d9] border-0 focus:bg-[#d9d9d9] w-16 h-16  md:w-20 md:h-20 md:text-32 rounded-custom text-24;
}

/* Button Loading Icon */
.ant-btn-loading-icon {
  @apply scale-150 text-white;
}
