@import "/fonts/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 241 162 91;
  --primary-color-300: 255 206 163;
  --secondary-color: 21 171 255;
  --secondary-color-300: 188 225 244;
  --textFaint-color: 76 75 75;
  --body-color: 249 245 242;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .container {
    @apply mx-auto p-5 xl:max-w-[1440px];
  }
  .container-grid {
    @apply container grid grid-cols-1 gap-10 lg:gap-5 lg:p-0 lg:grid-cols-7 2xl:grid-cols-11 lg:col-span-9 2xl:col-span-10;
  }

  .direction-rtl {
    direction: rtl !important;
  }
}

* {
  font-family: estedad;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  @apply bg-custom-body-color;
}

input:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Checkbox */
.ant-checkbox {
  border: 1px solid rgb(var(--primary-color));
}

.ant-checkbox-inner {
  @apply w-5 h-5 relative;
}

.ant-checkbox-inner::after {
  content: url("/icons/tick-svgrepo-com.svg");
  @apply rotate-0 absolute top-1;
}

.ant-checkbox-wrapper {
  direction: ltr;
}

/* OTP */
.ant-otp {
  @apply gap-4;
}

.ant-otp-input {
  @apply bg-[#d9d9d9] hover:bg-[#d9d9d9] border-0 focus:bg-[#d9d9d9] w-16 h-16  md:w-20 md:h-20 md:text-32 rounded-custom text-24;
}

/* Button Loading Icon */
.ant-btn-loading-icon {
  @apply scale-150 text-white;
}

/* Select */
.ant-select {
  @apply border-2 border-custom-primary-color rounded-lg;
}

.ant-select-selection-placeholder {
  @apply text-black/70;
}

/* Users Table */
.ant-table {
  @apply bg-transparent overflow-x-auto mb-auto;
}

.row-cursor-pointer .ant-table-tbody .ant-table-row {
  @apply hover:bg-custom-primary-color/15 cursor-pointer;
}

.ant-table-thead .ant-table-cell {
  @apply font-extrabold text-14 text-nowrap;
}

.ant-table-cell {
  @apply text-center bg-transparent before:hidden;
}

.ant-table-placeholder {
  @apply bg-transparent;
}

.ant-checkbox-wrapper-disabled {
  @apply opacity-40;
}

.ant-spin-container {
  @apply h-full flex flex-col;
}

.ant-spin-nested-loading {
  @apply h-full;
}

/* Pagination */
.ant-pagination {
  @apply mt-5;
}

.ant-pagination-item {
  @apply flex justify-center items-center bg-transparent  max-[320px]:m-0;
}

.ant-pagination-item > * {
  @apply w-max border-b-2 border-transparent rounded-none font-extrabold;
}

.ant-pagination-item.ant-pagination-item-active > * {
  @apply border-custom-primary-color;
}

.ant-pagination-next,
.ant-pagination-prev {
  @apply flex justify-center items-center;
}

.ant-pagination-jump-next,
.ant-pagination-jump-prev {
  @apply max-[320px]:m-0;
}

/* User Role Filter CheckBox */
.user-role-filter-radio .ant-radio-button-wrapper {
  @apply bg-transparent rounded-custom before:hidden px-2.5 hover:text-black;
}

.user-role-filter-radio
  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  @apply bg-custom-primary-color text-white;
}

/* Sort Users Radio */
.sort-users .ant-radio-checked .ant-radio-inner {
  @apply bg-custom-primary-color;
}

.sort-users .ant-radio-inner {
  @apply bg-custom-primary-color-300/50 after:hidden !rounded-lg w-5 h-5;
}

/* Sldier */
.ant-slider-tooltip .ant-tooltip-arrow {
  @apply after:border after:border-custom-secondary-color z-50 top-[15px];
}

/* Project Gallery */
.next-btn.swiper-button-disabled,
.prev-btn.swiper-button-disabled {
  @apply hidden;
}

.swiper-pagination {
  @apply flex justify-center items-center;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply size-3;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-custom-primary-color;
}

.leaflet-container {
  height: 100%;
}

.leaflet-bottom.leaflet-right {
  @apply hidden;
}
